.sidebar{
    
    left: 0;
    bottom: 0;
    position: fixed;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
    
   
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76px;
    transition: background-color 0.15s;
  
    
}

.sidebar-link:hover{
    background-color: rgb(236, 233, 233);
    cursor: pointer;
    

}

.sidebar-link img{
    height: 25px;
    display: block;
    padding-bottom: 5px;
    
}

.sidebar-link div{
    
    font-size: 10px;

}


